#rohelineTekst {color: green;}
#allaJoonitud {text-decoration: underline;}
#tuhmrohelineTaust {background-color: palegreen;}
#suuremFont {font-size: 200%;}
#msF {font-family: monospace;}
#paksPiirKollaneTaust {border-;border-style: solid solid solid solid; border-width: 10px; background-color: yellow;}
#ymarNurkKatkendPiirjoon {border-style: dashed dashed dashed dashed; border-radius: 25px}
#kaldkiriKeskel {font-style: italic; text-align: center;}
#crosshair {cursor: crosshair}