body {
    margin: 0;
}

#main{
	margin-left:8em;
	padding:1px 16px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	width: 8em;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	cursor: crosshair;
	border-style: dashed;
	border-color: lightblue;
}

img:hover {
	border-color: darkblue;
}

[src="http://www.w3.org/Icons/valid-xhtml10"], [src="http://jigsaw.w3.org/css-validator/images/vcss"] {
	border-style: none;
}